.fotoline-wrap {
  position: relative;
  width: 100%;
  display: table;
}
.fotoline-container {
  display: table-cell;
  overflow: hidden;
  position: relative;
}
.fotoline-jack {
  position: relative;
}
.fotoline-arrow {
  position: relative;
  display: table-cell;
  width: 60px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  height: 140px;
}
.fotoline-arrow-hide {
  opacity: 0 !important;
  cursor: default;
}
.fotoline-arrow-block {
  opacity: 0.5;
  cursor: default;
}
.fotoline-item {
  float: left;
  margin: 10px;
  text-align: center;
}
.fotoline-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background: rgba(221, 220, 7, 0.35);
}
.fotoline-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fotoline-row:before,
.fotoline-row:after {
  content: " ";
  display: table;
}
.fotoline-row:after {
  clear: both;
}
.fotoline-left.fotoline-arrow-hide,
.fotoline-right.fotoline-arrow-hide {
  opacity: 0.1;
}
.fotoline-left.fotoline-arrow-block,
.fotoline-right.fotoline-arrow-block {
  opacity: 0.5;
}
